@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  background-image: url(./images/bg-intro-desktop.png);

  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.container {
  width: 400px;
  max-width: 100%;
  padding: 3rem 1rem;
}

.aside1 {
  text-align: center;
  line-height: 35px;
  margin-bottom: 3rem;
  color: white;
}

.aside1 h1 {
  margin-bottom: 1rem;
  font-weight: 700;
}

.aside2 header {
  background-color: hsl(248, 32%, 49%);
  padding: 0.7rem 1.7rem;
  line-height: 30px;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 1px 7px rgba(0, 0, 0, 0.2);
  color: white;
}

form {
  background-color: white;
  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 1px 7px rgba(0, 0, 0, 0.2);
}

.form-control {
  border: none;
  position: relative;
  text-align: right;
  margin-bottom: 0.7rem;
}

.form-control.success input {
  border: 2px solid hsl(154, 59%, 51%);
}

.form-control.error input {
  border: 2px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}

.form-control input {
  height: 2rem;
  width: 100%;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  padding: 1.5rem 1.2rem;
  font-weight: 700;
  font-family: inherit;
  outline: none;
}

.form-control input:focus {
  border: 2px solid hsl(249, 10%, 26%);
}

button {
  cursor: pointer;
  width: 100%;
  padding: 1.1rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  color: white;
  letter-spacing: 0.1rem;
  background-color: rgb(56, 204, 140);
  border-bottom: 4px solid rgba(21, 35, 35, 0.2);
}

button:hover {
  background-color: rgba(56, 204, 140, 0.7);
}
.form-control.success .icon-success {
  visibility: visible;
  filter: invert(100%) sepia(24%) saturate(6385%) hue-rotate(73deg)
    brightness(87%) contrast(81%);
}

.form-control.error .icon-error {
  visibility: visible;
}

.form .icon {
  width: 24px;
  height: 24px;
  visibility: hidden;
  position: absolute;
  top: 13px;
  right: 10px;
}

.form-control.error .error-message {
  visibility: visible;
}
.form .error-message {
  visibility: hidden;

  color: hsl(0, 100%, 74%);
  font-size: 0.6rem;
  font-weight: 700;
  font-style: italic;
}

#terms {
  font-size: 0.7rem;
  color: hsl(246, 25%, 77%);
  margin-top: 1rem;
  text-align: center;
}

#terms a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  margin-bottom: 1rem;
}

/*--For mobile devices--*/
@media (max-width: 375px) {
  body {
    background-image: url(./images/bg-intro-mobile.png);
  }
}

/* --For Desktop devices-- */
@media (min-width: 1440px) {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 1rem 5rem;
  }

  .aside1 {
    text-align: left;
    padding: 0 10rem 0 2rem;
    width: 50%;
  }

  .aside2 {
    width: 40%;
  }
  .aside1 h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }
}